<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>

<body class="bg-light">
<div th:replace="fragments.html::main-nav"></div>

<!--    padding y축 5만큼-->
    <div class="py-5 text-center" th:if="${error}">
        <p class ="lead">스터디 올레 이메일 확인</p>
        <div class="alert alert-danger" role="alert">
            인증 메일은 5분에 한 번 보낼 수 있습니다.
        </div>
    </div>

    <div class="py-5 text-center" th:if="${error == null}">
        <p class ="lead">스터디 올레 이메일 확인</p>
        <h3>
            서비스를 사용하려면 이메일 인증을 진행해주세요.
            <div><small th:text ="${email}"></small></div>
        </h3>
        <small class="text-info">
            <a href="#" th:href="@{/resend-confirm-email}" class="alert-link">인증 메일 다시보내기</a>
        </small>
    </div>
</body>
</html>